
/*부트스트랩 기본 설정 변경 */
body{font-size: 12px;}
.form-control {padding: 5px;text-align: center;display: inline-block !important;}
.radio label {min-height: 25px;}
.radio {  margin-top: 0px;     margin-bottom: 0px;}
.form-group {margin-bottom: 0 !important;}
.form-inline {display: inline-block; width:100%; margin-bottom: 10px;}
input[type='text'], input[type='tel'] {height: 25px !important;width: 66px !important}
input::placeholder {font-size: 12px; !important;}
button {font-size: 12px !important; padding: 5px !important;}
input[type=checkbox], input[type=radio] {margin: 0;}
.badge {cursor: default !important; background: #414344;}

/*패널*/
.panel {box-shadow: 0px 5px 8px rgb(50,50,50,0.5);    border: 0; margin-bottom: 15px;}
.panel-title {font-size: 12px;}
.panel-heading {padding: 6px 10px;}
.panel-body {padding: 10px;}
/*패널 색 커스텀*/
.panel_GS_red {border-color: #C70F0A;}
.panel_GS_red>.panel-heading {color: #fff;background-color: #C70F0A;border-color: #C70F0A;}
.panel_GS_gray {border-color: #414344;}
.panel_GS_gray>.panel-heading {color: #fff;background-color: #414344;border-color: #414344;}

/*박스 겹침시 경고 레드*/
.bg_red {background: red !important;padding: 3px !important;}

nav { width: 120px;height: 100vh;background: #333;float: left;position: fixed; }
.content {margin-left: 50px; padding: 20px; position: relative;}

/*입력 박스*/
#input_area {width: 470px;float: left; padding-right: 10px;}
#container_area_wrap {margin-left: 470px; }
label span {width: 64px;display: inline-block;}
/*컨테이너 박스*/
#container {background-color: #ddd;display: flex;flex-wrap: wrap;align-content: flex-start;border-radius: 5px;}
#container_area{display: flex;align-items: center;flex-direction: column;background: url(img/bg_ruler.png) no-repeat top left,url(img/bg_ruler.png) no-repeat top right; background-position: left 20px, right 20px;}
/*적재박스*/
.box {border: 1px solid #333;box-sizing: border-box;color: #fff;display: flex;align-items: center;text-align: center;justify-content: center;
border-radius: 5px;font-size: 12px;cursor: move;}
.box_inner {display: flex;    align-items: center;    text-align: center;    justify-content: center;}
/*박스 정보*/
.box_info {cursor: pointer; line-height: 1; width: 90%;word-break:break-all;}

/*박스리스트 패널*/
.box_list_panel .panel-heading .badge {float: right;margin-top: -2px;margin-right: 6px;}
.box_list_panel .panel-heading .badge:nth-of-type(1) {margin-right: 0px;}
.boxlist_info{position: relative;}
.boxlist_info p {text-align: center;font-size: 12px; padding: 10px;margin-right: 50px;}
.boxlist_info .glyphicon-trash {cursor: pointer;padding: 17px;background: #fafafa;font-size: 16px;color: #82949a;border-radius: 50%;position: absolute;right: 0;}
/*박스리스트*/
 #boxlist {list-style-type: none;padding: 0;width: 100%;overflow: auto;}
#boxlist li {background-color: #fafafa;color: #82949a;margin-bottom: 7px;padding: 10px;border-left: 5px solid #82949a; cursor: move;}
#boxlist .list_btn_group{float: right; display: flex;}
#boxlist span {cursor: pointer; font-size: 20px; }
#boxlist strong {display: inline-block; margin-right: 10px;}
#boxlist .glyphicon.change_size {padding: 0 10px;}
#boxlist .badge{font-size:12px; margin-right:3px;padding-top: 4px;}
/*박스리스트 스크롤바*/
  #boxlist::-webkit-scrollbar {
    width: 10px;
  }
  #boxlist::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  #boxlist::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }


/*박스 장폭, 폭고 전환 버튼*/
.tooltip{word-break:break-all;}
.tooltip .glyphicon {font-size: 20px; padding: 20px;}
.glyphicon{cursor: pointer;}
.box .glyphicon.change_size {padding: 5px;    cursor: pointer; }

/*
.box .glyphicon-resize-horizontal.change_size {
    position: absolute;
    left: 3px;
}
.box .glyphicon-resize-vertical.change_size {
    position: absolute;
    right: 0;
    bottom: 3px;
    top: initial;
}
*/

/*플로팅 버튼*/
.btn_float{ width: 61px;border-radius: 50%;position: fixed;right: 10px;bottom: 10px; cursor: pointer;}

/*높이 작을때*/
@media screen and (min-height:0px) and (max-height:550px) {
  
}